.itemsWrapperDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px 8px;
}

.categorySelctionDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid black 2px;
    gap: 5px;
}

.categorySelctionDiv p {
    background-color: antiquewhite;
    font-family: var(--menu-text);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

.categorySelctionDiv p:hover {
    background-color: lightgrey;
}

.categorySubMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: solid black 2px;
}

.categorySubMenu p{
    background-color: goldenrod;
    font-family: var(--menu-text);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

.categorySubMenu p:hover{
    background-color: lightgray;
}

.selectedCategoryItemWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 8px;
    margin: 6px 0;
    padding: 6px 8px;
}

.selectedCategoryItemTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    margin: 0;
    padding-bottom: 4px;
    border-bottom: dashed black 1px;
}

.selectedCategoryItemTitle h2 {
    margin: 0;
    font-size: 1.1rem;
}

.selectedCategoryItemTitle p {
    background-color: coral;
    font-family: var(--menu-text);
    border-radius: 8px;
    padding: 4px 8px;
    border: 1px solid black;
    cursor: pointer;
}

.selectedCategoryItemDetails {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0 2px;
}

.selectedCategoryItemDetails p {
    margin: 0;
}


.armor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column
}
