.formWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 10px;
}

.formWrapper Input[type="text"]  {
  margin-bottom: 15px;
  background-color: transparent;
  border-bottom: solid 1px black;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "Fondamento", cursive; 
  font-size: 25px;
  color: rgb(0, 4, 255); 
  cursor: url("../../../assets/FeatherQuillPen.svg"), auto;
  caret-color: transparent;
}

.formWrapper label{
  font-family: "Fondamento", cursive; 
  font-size: 20px;
}

.formWrapper Button {
  font-family: "Fondamento", cursive; 
  border-radius: 25%;
}

.welcomeWrapper {
  display: flex;
  direction: column;
  align-items: center;
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  text-align:justify;
  color: rgb(0, 0, 0)
}
