.topParentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: solid black 4px;
}

.backdropWrapper {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.tutorial {
    width: 100%;
    height: 100%;
    background: url("../../assets/CastleWall.jpg") no-repeat center / cover;
   
}

.forest {
    width: 100%;
    height: 100%;
    background: url("../../assets/ForestBackground.jpg") no-repeat center / cover;;
}

.topMenuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: visible;
}
.eventsWrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-bottom: 20px;

}
