.parentDiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;  
    width: 100%;
    background-color: lightblue;
}

.enemyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enemyStats{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3px;
    color: black;
    border: solid black 3px;
    margin-bottom: 5px;
}

.enemyImgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.enemyImgs img:hover{
    transform: scale(1.2);
}
