.enemyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.enemyStats {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3px;
    padding: 10px;
    color: black;
    background-color: antiquewhite;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
}
.enemyStats p {
    margin: 0;
}

.enemyImgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.enemyImgs img:hover {
    transform: scale(1.2);
}
