.parentWrapper {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

.statsWrapper {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    color:black;
    font-size: small;
    padding-top: 10px;
    border-bottom: solid black 0.5px;
    margin-bottom: 5px;
}

.statsWrapper h2{
  text-decoration: underline
}

.statsWrapper h3
.statsWrapper h2
.statsWrapper p {
  margin: 0;
  
}

.health {
    font-family: var(--menu-text);
    color: red;
    outline: auto;
    padding: 5px;
    background-color: aliceblue;
}

.magic{
    font-family: var(--menu-text);
    color: blue;
    outline: auto;
    padding: 5px;
    background-color: aliceblue;
}

.location {
    font-family: var(--menu-text);
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
  padding: 5px;
  border: solid black 2px;
  border-radius: 25%;
  font-size: 15px;
  font-weight: 500;
  color: black;
  background-color: lightsalmon
}
.location p {
  margin: 0;
}

.menuDivButtons {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center; 
    padding: 5px;
    font-size: small;
}

.menuButton{
    background-color: lightskyblue;
    border-radius: 35%;
    padding: 5px;
    color: black;
    font-size: larger;
    font-weight: 600;
    box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
    -webkit-box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
    -moz-box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
}

.menuButton img{
    width:20px;
}
