.topScreenMenuWrapper{
    position: relative;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(245, 245, 245, 0.326);
    z-index: 10;
    box-shadow: 
    inset 5px 5px 10px rgb(201, 131, 0); 
    background: url("../../assets/paperTexture.jpg") no-repeat center / cover ;
}

.menuDivButtons {
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    padding: 5px;
    font-size: small;
    animation: slideDown 2.0s cubic-bezier(0.25, 1, 0.5, 1) forwards;


}

.menuButton{
    background-color: lightskyblue;
    border-radius: 35%;
    padding: 5px;
    color: black;
    font-size: larger;
    font-weight: 600;
    box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
    -webkit-box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
    -moz-box-shadow: -2px 8px 19px 1px rgba(0,0,0,0.42);
}

.menuButton img{
    width: 38px;
}

.menuDivButtons figure:nth-child(1) figcaption,
.menuDivButtons figure:nth-child(2) figcaption,
.menuDivButtons figure:nth-child(3) figcaption {
    font-family: "Fondamento", cursive;
}

.settings {
    box-shadow: 
    inset 5px 5px 10px rgb(201, 131, 0);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background: url("../../assets/paperTexture.jpg") no-repeat center / cover;
    border-top: solid black 2px;
    padding: 5px;
    margin-top: 10px;
    font-family: var(--menu-text);
}

.settings p {
    margin: 0;
    color: black;
    font-weight: 600;  
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;                  
  }
  to {
    transform: translateY(0);    
    opacity: 1;                  
  }
}