.topParentWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.backdropWrapper {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.tutorial {
    width: 100%;
    height: 100%;
    background-image: url("../assets/CastleWall.jpg");
    background-size: cover;
}

.topMenuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow: visible;
}


.eventsWrapper{
    position: absolute;
    inset: 0; 
    z-index: 20; 
     overflow-y: auto; 
}

.exit {
    background-color: antiquewhite;
    font-size: larger;
    color: black;
}