.parentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.tutorial{
    background-image: url("../assets/CastleWall.jpg");
    background-size: cover;
}

.exit {
    background-color: antiquewhite;
    font-size: larger;
    color: black;
}