.playersGuideWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: url("../../assets/paperTexture.jpg") no-repeat center / cover;
    border:  solid black 3px;
    color: black;
    box-shadow: -1px -1px 39px -4px rgba(0,0,0,0.68) inset;
}

.playersGuideWrapper p {
    margin: 0;
    font-family: var(--descriptive-text)
}

.elementName {
    display: flex;
    flex-direction: row;
}