*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a1a1a;
  background-color: rgb(115, 104, 104);
  --descriptive-text: "Winky Rough", sans-serif;
  --menu-text: "Nova Oval", system-ui;
  --max-mobile-width: 430px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;

}

h1   {
  font-size: clamp(1.75rem, 8vw, 2.75rem);
  line-height: 1.1;
  font-family: "Fondamento", cursive;
}

h2, h3 {
  font-family: "Fondamento", cursive;
}
