.parentDiv {
    position: relative;
    width: 435px;
    height: 491px;   
    background: url("../assets/MagicRPGMapDraft.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: visible;

}

.gridDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: 61px;
    height: 61px;
    flex-shrink: 0;
    border: solid black 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.cell:hover {
    background-color: lightslategray;
}

