.dialog {
    width: 99%;
    overflow-x: hidden
}

.signUpModal {
    border: solid 5px red;
}

.inventoryModal {
    border: solid 3px black;
    height: 90vh;
    background-color: lightgray;
}

.monsterLogModal {
    border: solid 3px black;
    height: 90vh;
    background: url("../../assets/LeatherTexture.jpg");
    background-size: cover;
}
